.search-item, .fav-item {
  display: flex;
  flex-direction: row;
  padding: 0 0 18px 20px;
}

.title {
  flex: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  text-align: left;
}

.star {
  height: 25px;
  width: auto;
  cursor: pointer;
}

.title p {
  font-size: 20px;
  margin: 0 0 0 10px;
}

button {
  height: 30px;
  width: 30px;
}

.desc {
  flex: 3;
  margin: 0 30px 0 20px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-size: 18px;
}

ul {
  text-align: left;
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
  margin: 0 0 14px 6px;
}

@media only screen and (max-width: 650px) {
  .title p {
    font-size: 16px;
  }

  .desc {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }
}