.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 140px;
  background-image: linear-gradient(to right, #0f6f99 , #0e996a);
}

.header p {
  font-size: 50px;
  font-weight: 500;
  color: white;
  margin: 0px;
}